#fakeconsole {
    background-color: red;
    display: flex;
    border-radius: 25px;
    margin-top: 3vh;
    width: 30%;
    height: 30vh;
    right: 0;
    left: 0;
    transform: translateX(35vw);
    overflow: scroll;
}
#fakeconsole_output {
    color: white;
    text-align: left;
    font-size: medium;
    height: 100%;
    margin: 0;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
    border-top-right-radius: 25px;
}
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #790c0cf1; 
    border-bottom-left-radius: 25px;
    opacity: 0;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-bottom-right-radius: 25px;
  }
  
