@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
@import url('https://unpkg.com/@fortawesome/fontawesome-free@5.15.4/css/all.min.css');
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container {
      height: 100%; /* Set the desired height */
      overflow-y: scroll; /* Enable vertical scrolling */
}

:root {
    overflow: hidden;
}

:not(pre, .error, #console_elapsed) {
    font-family: Roboto;
}

body {
    margin: 0;
    background: #111;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    animation: fadeInAnimation ease-in-out 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fa-magnifying-glass {
    color: white;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
}

.logo-wrapper .text {
    font-size: 75px;
    font-family: "Roboto";
    color: #FFF;
}

#gameicon {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    transform: translateY(50vh);
    padding: 0.5vw;
    transition: 0.2s;
}

#gameicon:hover {
    background-color: rgba(131, 131, 131, 0.214);
    border-radius: 2vw;
    transition: 0.2s;
    margin-right: 0.7vw;
    cursor: pointer;
}

.icontooltip{
    opacity: 0;
    background-color: rgb(53, 53, 53);
    border: rgb(75, 75, 75) solid 2px;
    border-radius: 5px;
    position: absolute;
    transition: 0.3s;
    padding: 0.4vh;
    padding-left: 0.8vw;
    padding-right: 0.8vw;
    font-weight: 550;
    color: white;
}

#gameicon:hover .icontooltip {
    opacity: 1;
    transform: translateX(-120%);
    transition: 0.2s ease-out;
}

.gamearrow{
    opacity: 0;
    transition: 0.4s;
}

#gameicon:hover .gamearrow{
    margin-left: 0.6vw;
    opacity: 1;
    transition: 0.4s;
}

.logo-wrapper h1 {
    color: white;
}
form {
    display: flex;
    justify-content: center;
}

.desc {
    display: flex;
    justify-content: center;
}

.desc p {
    width: 560px;
    color: rgba(253, 253, 253, 0.514);
    text-align: center;
}

form input {
    background: none;
    font-family: inherit;
    padding: 0px 17px;
    height: 48px;
    border: 1px solid rgb(255, 255, 255, .2);
    color: var(--text-color);
    border-radius: 3px;
    outline: none;
    width: 350px;
    margin-top: 5px;
    border-radius: 50px;
    color: #FFF;
}

form input:focus {
    border: 1px solid rgba(253, 253, 253, 0.514);
    border-radius: 6px;
    animation: fadeInAnimation ease-in-out 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 0.3vw;
    cursor: pointer;
}
#or {
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#cloudbrowser {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    transform: translateX(41vw);
}
