.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.container {
    width: 90%;
    margin: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
      height: 120; /* Set the desired height */
      overflow-y: scroll; /* Enable vertical scrolling */
}

.logo-wrapper img {
    width: 200px;
    height: auto;
    transform: 30px;
    position: relative;
    top: -20px;
    left: 30px;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.nav-links li a:hover {
    text-decoration: underline;
}
